@import "src/common/styles/scss/mixins";


.container {
  max-width: 1280px;
  margin: 0 auto;
  @include flex(center, null, column);
  gap: 16px;

  .head {
    background-color: #efefef;

    &_cursor {
      cursor: pointer;
    }
  }

  .packName {
    margin-top: 10px;
    @include flex(space-between, center);
    @include fontSettings(22px, 600, 27px);

    & button {
      max-height: 40px !important;
    }

    & .packNameText {
      word-break: break-word;
      max-width: 80%;
      @include flex(flex-start, center);
      gap: 0.5rem;
    }
  }

  .search {
    width: 100%;
  }

  .button {
    background-color: transparent;
    border: none;
    margin: 0 10px;
  }

  .wrapperEmptyPack {
    @include flex(flex-start, center, column);
    width: 100%;
    gap: 20px;

    .emptyPackText {
      @include fontSettings(16px, 600, 20px);
      opacity: 0.5;
    }
  }
}

.packDeckCover {
  width: 170px;
  height: 107px;
  border-radius: 2px;
}


