@import "src/common/styles/scss/mixins";

.information {
  @include flex(flex-start,center,column);
  width: 100%;
  gap: 10px;
  .name {
    width: 100%;
    padding: 0 8%;
    @include flex(center,end);
    gap: 2%;
  }

  .email {
    @include fontSettings(14px, 400, 24px);
    opacity: 0.5;
  }
}