@import "src/common/styles/scss/mixins";

.arrow {
    padding-left: 10%;
    cursor: pointer;
    @include fontSettings(15px, 400, 24px);

    & img {
        margin-right: 12px;
    }

    & a {

        text-decoration: none;

        &:visited {
            color: black;
        }
    }
}
