.mainContainer {
    box-sizing: border-box;
    width: 414px;
    min-height: 528px;
    margin: 60px auto 0;
    padding: 35px 33px 42px;

    text-align: center;
}

.title {
    margin: 0 0 41px;

    font-family: 'Montserrat', sans-serif ;
    font-size: 26px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    line-height: 32px !important;
}

.formContainer {

}

.formButton {
    margin: 60px 0 30px 0 !important;
}

.optionalText {
    margin-bottom: 10px!important;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px!important;
    font-weight: 600!important;
    font-style: normal!important;
    line-height: 24px!important;

    opacity: 0.5!important;
}