.input:focus {
    outline: none;

}

.input {
    outline: none;
}

.inputWrapper {
}

.superInput {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.errorInput:focus {

}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;

    color: #CC1439;
}
