.button {
  background-color: transparent !important;
  border: none !important;

  &:active {
    background: transparent !important;
  }
}
.lowerButtonGroup {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.header {
  display: flex;
  justify-content: space-between;
}