@import "src/common/styles/scss/mixins";

.pagination {
  width: 100%;
  @include flex(flex-start, center);
  @include fontSettings(12px, 400, 15px);
  margin-bottom: 20px;

  .show {
    font-size: 12px;
  }
}
