.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 132px;
  height: 30px;
  padding: 5px 24px;

  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;

  background: #0066cc;
  border-width: 0;
  border-radius: 3px;
}

.disabled {
  color: #002e5c;

  opacity: 0.5;
  background: #004d99;
}

.secondary {
  color: #0066cc;

  background-color: white;
  border: 1px solid #0066cc;
}

.default {
}

.red {
  color: #ffffff;

  background: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
