@import "src/common/styles/scss/mixins";

.container {
  max-width: 1280px;
  margin: 0 auto;
  @include flex(center, flex-end, column);
  gap: 24px;
  .search{
    width: 100%;
    @include flex(center, center);
    gap:10px;
    @include fontSettings(20px,500,24px);
    margin-top: 3%;
  }
}